<ons-page ng-controller="PreviewController" id="previewPage">
  <ons-toolbar>
    <div class="left">
      <span class="toolbar-button--quiet navigation-bar__line-height" ng-click="back()">
	<ons-icon icon="chevron-left" size="20px" fixed-width="false"></ons-icon>
	戻る
      </span>
    </div>
    <div class="center">プレビュー</div>
  </ons-toolbar>
  
  <ons-row>
    <ons-col>
      <div class="nend">
	<div class="new_nend_wrapper"></div>
      </div>


      <div id="preview" class="preview-body"></div>
    </ons-col>
  </ons-row>
</ons-page>

